/* Floating button */
#chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 4px solid #000;
  background: #25cdeb;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;

}

/* Chat window */
#chatbot {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 320px;
  height: 400px;
  background: #fff;
  border: 4px solid #000;
  display: none;
  flex-direction: column;
  z-index: 1000;
    color: #000;
  line-height: 25px;
}

#chat-header {
  padding: 8px;
  border-bottom: 3px solid #000;
  font-weight: bold;
  background: #f3f4f6;
}

#chat-messages {
  flex: 1;
  padding: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.msg {
  border: 2px solid #000;
  padding: 6px;
  font-size: 13px;
  max-width: 75%;
}

.user {
  align-self: flex-end;
  background: #e5f6ff;
}

.bot {
  align-self: flex-start;
  background: #f4f4f4;
}

#chat-input {
  display: flex;
  border-top: 3px solid #000;
}

#chat-input input {
  flex: 1;
  padding: 6px;
  border: none;
  outline: none;
}

#chat-input button {
  border-left: 3px solid #000;
  padding: 6px 12px;
  cursor: pointer;
  background: #25cdeb;
}
